/************************** elements */

* {
    margin: 0;
    padding: 0;
}

:root {
    --opaque-background-color: #7878783d;
    --right-side-padding: 5% 10% 5% 5%;
}

p {
    font-size: 1.5rem;
    font-weight: 500;
}

label {
    font-size: 0.75rem;
}

input {
    margin-bottom: 20px;
}

/************************** ids */
#main-body {
    background-color: #f4f4f4;
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
}

#left-side {
    width: 37%;
    background-image: url("images/nick-nice-zwjSCTItiZU-unsplash.jpg");
    background-size: cover;
}

#right-side {
 width: 63%;
}

#iguana-logo {
    width: 25%;
    margin-right: 25px;
}

#form-submit-btn {
    background-color: #4d6b86;
    color: white;
    font-family: inherit;
    font-size: 1rem;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: none;
}

#form-submit-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

/************************** classes */

.login-prompt {
    font-size: 1rem;
}

.call-to-action {
    padding: var(--right-side-padding);
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.logo-area {
    color: white;
    display: flex;
    font-size: 2.5rem;
    background-color: var(--opaque-background-color);
    padding: 1rem;
    justify-content: center;
    position: relative;
    top: 25%;
}

.sign-up-section {
    background-color: white;
    padding: var(--right-side-padding);
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input:not(:focus):not(:placeholder-shown):invalid {
    border-color: red;
}

.submit-btns {
    padding: var(--right-side-padding);
}

.image-credits {
    margin-top: 10px;
}
.image-credit-text {
    font-size:0.5rem;
    color: gray;
}


/************************** Responsive media query */

@media only screen and (max-width: 1000px) {
    #main-body {
        display: flex;
        flex-direction: column;
    }

    #left-side {
        width: 100vw;
        height: 300px;
    }

    #right-side {
      width: 100vw;
    }

    .sign-up-section {
        height: 500px;
    }

    .form-row {
        display: block;
    }

    input {
        width: 90vw;
    }

}